body {
    background-image: url("./../Assets/photos/map2.png");
    background-size: cover;
}

#trump {
    background: transparent url("./../Assets/photos/trumpicon3.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
    margin-left: -425px;
    margin-top:250px;
    /* put the height and width of your image here */
    height: 150px;
    width: 150px;
    border: none;
   
}

#teenager {
    background: transparent url("./../Assets/photos/Tiffany3.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
    margin-top:200px;
    margin-right: -100px;
    /* put the height and width of your image here */
    height: 200px;
    width: 200px;
    border: none;
    position: fixed;
    
}

#bob {
    background: transparent url("./../Assets/photos/BOBicon.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
    /* put the height and width of your image here */
    height: 200px;
    width: 200px;
    border: none;
   margin-left: -110px;
   position:fixed;
   
   
}

#battleReady {
    background: transparent url("./../Assets/photos/battle.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
    /* put the height and width of your image here */
    height: 210px;
    width: 210px;
    border: none;
    color: rgb(14, 13, 13);
    margin-top: 250px;
    margin-right: 200px;
    font-family: Impact, Charcoal, sans-serif;
    text-shadow: 2px 2px rgb(253, 253, 253);
}