body {
    background-image: url("./../Assets/photos/map2.png");
    background-size: cover

}

#trump {
    background: transparent url("./../Assets/photos/trumpicon3.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
    margin-left: -35%;
    margin-top:17.5%;
    /* put the height and width of your image here */
    height: 150px;
    width: 150px;
    border: none;

}

#teenager {
    background: transparent url("./../Assets/photos/Tiffany3.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
    margin-top:12%;
    margin-right: 50%;
    /* put the height and width of your image here */
    height: 200px;
    width: 200px;
    border: none;
    position: fixed;

}

#bob {
    background: transparent url("./../Assets/photos/BOBicon.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
    /* put the height and width of your image here */
    height: 200px;
    width: 200px;
    border: none;
   margin-left: -5%;
   margin-top: 0%;
   position:fixed;


}

#Marshall {
    background: transparent url("./../Assets/photos/Marshall_Lee.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
    /* put the height and width of your image here */
    height: 200px;
    width: 200px;
    border: none;
   margin-left: 15%;
   margin-top: 25%;
   position:fixed;
}

#greg {
    background: transparent url("./../Assets/photos/gregIcon.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
    /* put the height and width of your image here */
    height: 200px;
    width: 200px;
    border: none;
   margin-left: -20%;
   margin-top: 25%;
   position:fixed;
}


#battleReady {
    background: transparent url("./../Assets/photos/battle2.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
    /* put the height and width of your image here */
    height: 275px;
    width: 275px;
    border: none;
    font: Impact, fantasy;
    font-size: 35px;
    font-weight: bold;
    text-shadow: 2px 2px #ffffff;
    margin-top: 15%;
    margin-left: -10%;

}

#battle-box{
    margin-top: 90px;
}

.battler{
  margin-top: 0;
  position: relative;
  bottom: 40px;
  color: white;
  text-shadow: 2px 2px black;
  font-size: 40px;
}

#results{
    position: relative;
    bottom: 95px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    /* outline: 5px white; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    color: rgb(85, 134, 248);
    /* text-shadow: 2px 2px black; */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

#vs{
  color: white;
  text-shadow: 2px 2px black;
  border: clear;
  display: inline-flex;
  position: relative;
  bottom: 220px;
  right: 20px;
  font-size: 20px;
}

.inline{
  display: inline-block;
}

.healthbar{
  color: white;
  text-shadow: 1px 1px black;
  position: relative;
  bottom: 60px;
}

#answer-form{
  position: relative;
  bottom: 140px;
  font-size: 20px;
  padding: 0px 20px 20px 30px;
}

#submitAnswer{
  margin-bottom: 15px;
}

#myAnimation{
  position: relative;
  left: 190px;
  display: none;
}

#enemyAnimation{
  position: relative;
  right: 190px;
  display: none;
}

.labelText{
font-size: 25px;
text-shadow: 1px 1px white;
align-content: left;
}


.page-header {

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    text-shadow: 1px 1px white;
    align-content: left;

}

#battle-box {
    width: 500px;
    height: 400px;
    margin-top: 5%;
}

.attackBtn {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    /* outline: 5px white; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    color: rgb(85, 134, 248);
    /* text-shadow: 2px 2px black; */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    margin-left: 5px;
    margin-right: 5px;
}

.attackBtn:hover {
    color:yellow;
}

#answer-form {
    background-repeat:no-repeat;
    border: none;
    overflow: hidden;
    width:250px;
    background: transparent !important;
    margin-top:100px;

}

#submitAnswer {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    /* outline: 5px white; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    color: rgb(0, 0, 0);
    /* text-shadow: 2px 2px black; */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(252, 252, 252, 0.521);

}

.userAnswerbox{
 height: 30px;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 font-size: 20px;
}
